/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY STYLE */
body {
  background: rgb(38, 94, 94);
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER STYLE */
header {
  display: flex;
  background: rgba(151, 140, 140, 0.486);
  min-height: 80px;
}
/* NAV STYLE */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  align-items: center;
}
.nav {
  width: 32%;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.search-bar {
  width: 32%;
  text-align: center;
}
.search-bar input {
  width: 70%;
  font-size: 1.5rem;
}

.search-bar button {
  font-size: 1.3rem;
}
.user {
  width: 32%;
  text-align: right;
  padding-right: 10px;
}
/* MAIN WRAPPER STYLE */
.main-wrapper {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
}

/* MAIN CONTAINER STYLE */
.main-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.video-player {
  min-height: 400px;
  width: 100%;
  margin-top: 10px;
  background: cornsilk;
}
video {
  height: 100%;
  width: 100%;
}

.video-description {
  min-height: 40px;
  background: grey;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
}
.video-description h2 {
  font-size: 1.8em;
}
.video-description p {
  font-size: 1.1em;
}

.right-div p span {
  padding-right: 10px;
}
.left-div {
  padding-left: 10px;
}
.left-div h2 {
  padding-bottom: 10px;
}

.user-description {
  min-height: 100px;
  width: 100%;
  background: grey;
  margin-top: 10px;
  display: flex;
  align-self: center;
  /* justify-content: space-evenly */
}

.video-comments {
  min-height: 300px;
  width: 100%;
  margin-top: 10px;
  background: grey;
  margin-bottom: 20px;
}

/* SIDE BAR STYLE */

.side-bar {
  width: 18%;
  min-height: 20%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist {
  width: 100%;
  max-height: 200px;
  background: grey;
  margin-top: 10px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.playlist-movie-container {
  width: 90%;
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.playlist-movie-container img {
  width: 30%;
}
.playlist-movie-container p {
  width: 64%;
}

.recommended-videos {
  min-height: 84%;
  width: 98%;
  background: grey;
  margin-top: 10px;
}
.recommended-movie-container {
  width: 90%;
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recommended-movie-container img {
  width: 30%;
}

/* SECTION-1 STYLE */

.section-1 {
  display: flex;
  align-items: center;
  width: 100%;
}
.section-1 button {
  font-size: 1em;
  padding: 10px;
  margin: 6px;
}
.section-1 img {
  width: 12%;
  padding-right: 20px;
}
.user-info {
  width: 65%;
}
.section-1-buttons {
  display: flex;
}

.section-2 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.section-2 img {
  width: 12%;
  padding-right: 20px;
}
.username {
  padding-bottom: 5px;
}
.username span {
  padding-left: 10px;
  font-size: 0.7em;
  opacity: 0.7;
}
