/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY STYLE */
body {
  background: rgb(38, 94, 94);
  color: white;
  margin: 0 auto;
}
.scrollbar {
  margin: 20px;
  padding: 20px;
  height: 300px;
  width: 200px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

/**  CHROME custom scrollbar options*/
::-webkit-scrollbar {
  width: 8px;
  background: rgba(128, 128, 128, 0.288);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(128, 128, 128, 0.288);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(128, 128, 128);
}

/* HEADER STYLE */
header {
  width: 98%;
  display: flex;
  min-height: 80px;
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.288);
}
/* NAV STYLE */
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.3rem;
  align-items: center;
}
.nav {
  display: none;
  flex-basis: auto;
}
.nav ul {
  display: inline;
  list-style: none;
}
.nav ul li {
  display: inline;
  padding-right: 20px;
}

.nav ul li:hover {
  color: aquamarine;
}
.search-bar {
  width: 542px;
  flex-basis: auto;
  text-align: center;
}
.search-bar input {
  width: 90%;
  font-size: 1.5rem;
}

.search-bar button {
  font-size: 1.3rem;
}

.user-link:hover {
  color: aquamarine;
}
/* MAIN WRAPPER STYLE */
.main-wrapper {
  max-width: 10754px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

/* MAIN CONTAINER STYLE */



.playlist {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 0.7em;
}
.playlist p{
  display: flex;
  flex-direction: row;
  justify-items: center;
  font-size: 1.3rem;
}
.recommended-videos {

  width: 100%;
  margin-top: 10px;
  border-top: solid rgba(107, 106, 106, 0.705) 2px;
}

.recommended-movie-container {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.recommended-movie-container img {
  width: 168px;
  height: 94px;
}

/* User STYLE */

.description button {
  font-size: 0.8em;
  padding: 10px;
  margin: 6px;
}
.description img {
  width: 10%;
  padding-right: 20px;
}
.description-info {
  width: 100%;
  display:flex ;
  flex-direction: column;

}
.description-buttons {
  display: flex;
}

.section-2 {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid rgba(107, 106, 106, 0.705) 2px;
  padding-bottom: 10px;

  /* display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0; */
}

.section-2 img {
  width: 12%;
  padding-right: 20px;
}
.username {
  padding-bottom: 5px;
}
.username span {
  padding-left: 10px;
  font-size: 0.7em;
  opacity: 0.7;
}
